table {
    width: 100%;
    table-layout: fixed;
}

.mat-tributech-table {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.mat-tributech-table-child {
    width: 60%;
    max-height: 100%;
}

.mat-column-isOnline {
    width: 10%;
    text-align: center;
}
.mat-column-proofKind {
    width: 25%;
}
.mat-column-actions {
    width: 10%;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background: #4AB100;
}

.red {
    background: #C43D14;
}
