table {
    width: 100%;
    table-layout: fixed;
}

button {
    border-radius: 16px !important;
}

.mat-tributech-page {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 992px) {
    .mat-tributech-table {
        width: 70%;
    }
}
@media screen and (max-width: 992px) {
    .mat-tributech-table {
        width: 95%;
    }
}
.mat-tributech-table {
    max-height: 100%;
}

.mat-tributech-search {
    display: block;
    padding-top: 10px;
}

.mat-tributech-button {
    float: right;
    width: 150px;
    height: 56px;
    color: #304761 !important;
    background-color: #E4E4E4 !important;
    border-radius: 4px !important;
}

.mat-column-isOnline {
    width: 10%;
    text-align: center;
}
.mat-column-proofKind {
    width: 30%;
}
.mat-column-actions {
    width: 10%;
}

.mat-mdc-row:nth-child(even) {
    background-color: #F8F8FA;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.green {
    background: #4AB100;
}

.red {
    background: #C43D14;
}
